body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    line-height: 20px;
    background-color: white;
    color: #0b0958;
    background-color: white; 
}
.main-header {
    width: 1170px;
    height:108px;
    margin: 0 auto;
    padding: 20px 50px;
    
}

.main-main {
    width: 1170px;
}

.main-nav {
    display: flex;
}

.logo {
margin-right: auto;
}

.site-navigation-item {
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    width: 700px;
}

.site-navigation-item a{
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    
}
.signin {
display: flex;
align-self:center;
margin-right: 10px;
}

main {
    width: 1030px;
    margin: 0 auto;
    padding: 0 50px;
}

.object{
    font-style: italic;
    font-family: Roboto;
    text-transform: uppercase;
    margin-bottom: 30px;
    padding-left: 50px;
    line-height: 50px;
    font-size: 35px;
    font-weight: normal;
    color: #163152;
}

.about-team-second {
    display: flex;
    width: 900px;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 250px;
}

.article-content {
    width: 320px;
}

.about-team-third {
    display: flex;
    width: 900px;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 100px;
}

.Contacts {
    display: flex;
    flex-direction: row-reverse;
    width: 1030px;
    margin: 0 auto;
}

.socials {
display:flex;
}

.socials img {
    margin-right: 15px;
}

.article-img-1 {
    margin-right: auto;
    height: 323px;
    
}

.article-content-1 {
    width: 330px;

}

h2 {
    margin-top: 5px;
}

.main-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 120px;
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 40px;
}

.footer-second {
    width: 1170px;
    margin: 0 auto;
    padding: 0 55px;
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    width: 175px;
    margin-right: 60px;
}

.footer-logo a {
    color: #0b0958;
    text-decoration: none;
}

.footer-navigation {
    list-style: none;

}

.footer-navigation-item {
    list-style: none;
    width: 150px;
    align-items: center;
}

.footer-navigation-item a {
    
    color: #0b0958;
    text-decoration: none;
    font-size: 13px;
    line-height: 15px;
    margin: 0px;
    padding: 0px;
}
 
.number {
    color: #0b0958;
    text-decoration: none;
}

.mail {
    color: #0b0958;
    text-decoration: none;
}

.Contacts h2 {
    text-decoration: underline;
    text-decoration-color: #00c6bd;
    text-decoration-thickness: 2px;
    text-underline-offset: 15px;
    text-underline-position: under;
    margin: 0;
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 30px;
}

.about-team-third h2 {
    text-decoration: underline;
    text-decoration-color: #00c6bd;
    text-decoration-thickness: 2px;
    text-underline-offset: 15px;
    text-underline-position: under;
    margin: 0;
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 30px;
}

.article-content h2 {
    text-decoration: underline;
    text-decoration-color: #00c6bd;
    text-decoration-thickness: 2px;
    text-underline-offset: 15px;
    text-underline-position: under;
    margin: 0;
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 30px;
}

.children {
    width: 550px;
}

.main-header a {
    color: #0b0958;
}

.object-news {
display:flex ;
justify-content: center;
margin-bottom: 50px;
text-decoration: underline;
text-decoration-color: #00c6bd;
text-decoration-thickness: 2px;
text-underline-offset: 15px;
text-underline-position: under;
}

.object-img {
display:flex ;
justify-content: center;
margin-bottom: 50px;
text-decoration: underline;
text-decoration-color: #00c6bd;
text-decoration-thickness: 2px;
text-underline-offset: 15px;
text-underline-position: under;
}

.News {
    width: 780px;
    margin-bottom: 60px;
    margin-left: 185px;
}

.winner {
    color: #8693A4;
    margin-top:5px;
    margin-bottom: 30px;
}

.team-line {
padding-left: 20px;
border-left: solid 2px #00c6bd;
}

.Avtor {
flex-shrink: 0;
}

.comment {
    display: flex;
    justify-content: space-between;
}

.comment-two {
margin-right: 550px;
color: #163152;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 14px;
}

.info-about-man {
color: #8693A4;
}

.info-about-cap {
color: #163152;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}


.players-winner-list {
padding: 0px;
}

ul {
    padding: 0px 20px;
}

.main-images {
    margin-top: 100px;
    margin-bottom: 100px;
}

a:hover {
    color: rgba(22, 49, 82, 0.50);
}

a:visited {
    color: rgba(22, 49, 82, 0.30);
}

.img-list {
    display: flex;
    align-items: flex-start;
}

.preview-list {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 170px;
}

.preview-list li {
    margin-bottom: 30px;
    margin-left: 30px;
}
